.wym_buttons .wym_tools_internal_image .wym_tools_internal_image_link {
	background: url(../img/filebrowser_icon_show.png) no-repeat 0 3px;
}

.form-row .wym_box {
	display: inline-block;
	width: 900px;
}

.ui-dialog.media-library {
	z-index: 40000 !important;
}
